.body-wrapper {
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  z-index: -1;
  padding-bottom: 5%;
}

.inner-wrapper {
  width: 85%;
  display: flex;
  flex-direction: row;
}

.left-menu {
  width: 20%;
}

.content-body {
  width: 80%;
  min-height: 80vh;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 2%;
}

.menu-options {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);

  ul {
    padding-left: 0px;
    margin-top: 10%;
    li {
      font-size: 13px;
      color: #999999;
      border-bottom: 2px solid #F5F5F5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 20px;

      span {
        margin-right: 10px;
        font-weight: 500;
      }

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.grey {
  li {
    border-left: 2px solid white;
  }
  g {
    fill: #D8D8D8;
  }
}

.red {
  li {
    border-left: 2px solid red;

    span {
      color: red;
    }
  }
  g {
  fill: red;
  }
}

.profile-info {
  display: flex;
  height: 50vh;
  border-radius: 6px;
  z-index:0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.profile-left {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 6px 0px 0px 6px;

  background-color: rgba(0, 0, 0, 0.7);
  img {
    border-radius: 200px;
    position: relative;
    top: 30%;
  }
}

.profile-center {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 50%;
}

.profile-right {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0px 6px 6px 0px;

  div.purple-circle {
    position: relative;
    top: 10%;
  }
}

.profile-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }
}

.profile-middle {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  span {
    color: #9B9B9B;
    font-weight: 500;
    margin-left: 5px;
  }
  p {
    g {
      fill: #F9AD3D;
      }  
  }
}

.purple-circle-small {
  background-color: #8D76BE;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  g {
    fill: white;
  }
}

.profile-social {
  height: 15%;
  display: flex;
  align-items: center;

  div.purple-circle-small {
    margin-right: 15px;
  }
}

.profile-menu {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.profile-menu {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 8px;
  cursor: pointer;
}

.profile-menu-selected {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;   
  border-bottom: 4px solid #8D76BE;;
  margin-bottom: 4px;
  cursor: pointer;
  p {
    color: #8D76BE;
  }
}

.brand-name {
  font-size: 30px;
  font-weight: 500;
  color: #FFFFFF;
}

.profile-item-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
}

.profile-item{
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.page-wrapper {
  height: 100%;
}

.purple-circle {
  background-color: #8D76BE;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  g {
    fill: white;
  }
}

.space-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-card {
  height: 60vh;
  min-width: 90%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  border-radius: 6px;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.preview-wrapper {
  width: 80%;
  height: 100%;
}

.space-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}

.space-bottom {
  display: flex;
  height: 70%;
  width: 100%;
}

.preview-options {
  width: 20%;

  ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.border-list {
  border: 2px solid #F5F5F5;;
  border-radius: 6px;
  padding: 10px;
}

.border-list-selected {
  border: 2px solid #8D76BE;
  border-radius: 6px;
  padding: 10px;
}

.preview-box {
  height: 80px;
  width: 80px;
  background-color: #8D76BE;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    position: absolute;
    right: -25%;
    z-index: 0;
  }
}

.svg-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.space-title {
  font-size: 36px;
  font-weight: 300;
  color: #4D4D4D;
}

.location-text {
  color: #999999;
}

.space-top-left {
  width: 20%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.space-top-right {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.review-icons {
  g {
    fill: #F9AD3D;
    }  
}

.overview-info {
  margin-top: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.product-info {
  margin-top: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.info-box-top {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 2px solid #F5F5F5;
  p {
    color: #666666;
    font-weight: 500;
  }
  span {
    color: #999999;
    font-weight: 300;
  }
}

.info-box-body {
  width: 100%;
  max-height: 65%;
}

.info-box-bottom {
  height: 15%;
  border-top: 2px solid #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
  p {
    span {
      svg {
        padding-top: 1px;
        width: 25px;
      }
    }
  }
}

.events-tab-wrapper {
  display: flex;
}

.events-tab-options {
  margin: 21px 21px 21px 0px;
  color: #999999;
  font-weight: 500;
  font-size: 13px;
}

.events-tab-options-selected {
  margin-right: 21px;
  padding: 21px 0px 21px 0px;
  border-bottom: 4px solid #8D76BE;
  color: #8D76BE;
  font-weight: 500;
  font-size: 13px;
}

.overview-breakdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10%;
  margin-top: 0px;
  margin-bottom: 0px;

  li {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-start;
    padding: 20px 0px;

    div {
      padding: 0px 5px;
    }
  }

  p {
    margin: 0px;
  }
}

.overviewDescription {
  color: #808080;
}

.overviewSubject {
  font-size: 12px;
  color: #D8D8D8;
}

.cakeIcon {
  g {
    fill: #F9AD3D;
  }
}

.favoriteIcon {
  g {
    fill: #FF0808;
  }
}


.cityIcon {
  g {
    fill: #5553CE;
  }
}

.peopleIcon {
  g {
    fill: #3AA4D2;
  }
}


.schoolIcon {
  g {
    fill: #FFF080;
  }
}

.workIcon {
  g {
    fill: #34CB49;
  }
}

.subscriptionsIcon {
  g {
    fill: #3AA4D2;
  }
}

.languageIcon {
  g {
    fill: #F9AD3D;
  }
}

.productInnerWrapper {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      padding: 2% 2% 5% 2%;
      width: 20%;
      border: 2px solid #F5F5F5;
      margin: 3% 2%;
    }
  }
}

.productInformation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

  img {
    width: 100%;
    padding: 10% 0;
  }
}

.product-price {
  color: #666666;
  font-weight: 500;
}

.product-description {
  color: #808080;
  text-align: center;
}

.events-inner-wrapper {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      min-width: 90%;
      height: 300px;
      background: red;
      margin-bottom: 5%;
      border-radius: 6px;
      display: flex;
    }
  }
}

.events-top-half {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 5%;

  g {
    fill: white;
  }
}

.events-bottom-half {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.events-image-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-left: 15px;
  }
}

.events-image-wrapper {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
}

.events-interested {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.events-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 5%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.event-time {
  margin-top: 2%;
  margin-left: 4%;
  color: white;
  font-weight: 500;
}

.events-option-button {
  background-color: rgba(255, 255, 255,0.3);
  padding: 15px 40px;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  margin-right: 20px;
}

.reviews-inner-wrapper {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      min-width: 80%;
      background: white;
      margin-bottom: 5%;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      border: 2px solid #F5F5F5;
      border-radius: 6px;
      padding: 10px 30px 40px 30px;
    }
  }
}

.review-title {
  height: 70px;
  width: 100%;
  border-bottom: 2px solid #F5F5F5;
  display: flex;
  align-items: center;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
}

.reviewText {
  color: #999999;
  line-height: 30px;
}

.reviewSubmitter {
  color: #D8D8D8;
  // font-size: 12px;
}

.review-stars {
  margin: 20px 0px;
  g {
    fill: #F9AD3D;
  }
}