.bodyWrapper {
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  z-index: -1;
}

.innerWrapper {
  min-width: 90%;
  display: flex;
  flex-direction: row;
}

.leftMenu {
  width: 20%;
}

.contentBody {
  width: 80%;
  min-height: 80vh;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 1%;
}

.menuOptions {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);

  ul {
    padding-left: 0px;
    margin-top: 10%;
    li {
      font-size: 13px;
      color: #999999;
      border-bottom: 2px solid #F5F5F5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 20px;

      span {
        margin-right: 10px;
        font-weight: 500;
      }

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.grey {
  li {
    border-left: 2px solid white;
  }
  g {
    fill: #999999;
  }
}

.red {
  li {
    border-left: 2px solid red;

    span {
      color: red;
    }
  }
  g {
  fill: red;
  }
}

.profileInfo {
  display: grid;
  /* grid-template-rows: 20% 30% 10% 20% 20%; */
  height: 50vh;
  border-radius: 6px;
  background: linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
  );
  z-index:0;
  background-color: rgba(0, 0, 0, 0.7);
}

.profileItemTop {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
  z-index:1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
  }
}


.profileItemWithImage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    max-width: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  background-color: rgba(0, 0, 0, 0.7);
  img {
    border-radius: 200px;
  }
}

.profileItemStats {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  span {
    color: #9B9B9B;
    font-weight: 500;
    margin-left: 5px;
  }
  p {
    g {
      fill: #F9AD3D;
      }  
  }
}

.brandName {
  margin-left: 50%; 
}

.profileItemBottom {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
}

.profileItem{
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.pageWrapper {
  height: 100%;
}

.purpleCircle {
  margin-right: 5%;
  background-color: #8D76BE;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  g {
    fill: white;
  }
}

.spaceWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaceCard {
  height: 60vh;
  min-width: 80%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  border-radius: 6px;
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  /* display: grid; */
  /* align-items: center; */

}

.previewWrapper {
  width: 80%;
  height: 100%;
}

.spaceTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}

.spaceBottom {
  display: flex;
  height: 70%;
  width: 100%;
}

.previewOptions {
  width: 20%;

  ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.borderList {
  border: 2px solid #F5F5F5;;
  border-radius: 6px;
  padding: 10px;
}

.borderListSelected {
  border: 2px solid #8D76BE;
  border-radius: 6px;
  padding: 10px;
}

.previewBox {
  height: 80px;
  width: 80px;
  background-color: #8D76BE;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    position: absolute;
    right: -25%;
    z-index: 0;
  }
}

.svgOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.spaceTitle {
  font-size: 36px;
  font-weight: 300;
  color: #4D4D4D;
}

.locationText {
  color: #999999;
}

.spaceTopLeft {
  width: 20%;
  display: flex;
  justify-content: center;
  height: 100%;
  /* align-items: center; */
}

.spaceTopRight {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.reviewIcons {
  g {
    fill: #F9AD3D;
    }  
}