.body-wrapper {
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  z-index: -1;
}

.inner-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.left-menu {
  width: 20%;
}

.content-body {
  width: 80%;
  min-height: 80vh;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 2%;
}

.menu-options {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);

  ul {
    padding-left: 0px;
    margin-top: 10%;
    li {
      font-size: 13px;
      color: #999999;
      border-bottom: 2px solid #F5F5F5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 20px;

      span {
        margin-right: 10px;
        font-weight: 500;
      }

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.grey {
  li {
    border-left: 2px solid white;
  }
  g {
    fill: #999999;
  }
}

.red {
  li {
    border-left: 2px solid red;

    span {
      color: red;
    }
  }
  g {
  fill: red;
  }
}

.profile-info {
  display: grid;
  height: 50vh;
  border-radius: 6px;
  background: linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
  );
  z-index:0;
  background-color: rgba(0, 0, 0, 0.7);
}

.profile-item-top {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
  z-index:1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
  }
}

.profile-item-with-image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    max-width: 50%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  background-color: rgba(0, 0, 0, 0.7);
  img {
    border-radius: 200px;
  }
}

.profile-item-stats {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  span {
    color: #9B9B9B;
    font-weight: 500;
    margin-left: 5px;
  }
  p {
    g {
      fill: #F9AD3D;
      }  
  }
}

.brand-name {
  margin-left: 50%; 
}

.profile-item-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
}

.profile-item{
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.page-wrapper {
  height: 100%;
}

.purple-circle {
  margin-right: 5%;
  background-color: #8D76BE;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  g {
    fill: white;
  }
}

.space-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-card {
  height: 60vh;
  min-width: 90%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  border-radius: 6px;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.preview-wrapper {
  width: 80%;
  height: 100%;
}

.space-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}

.space-bottom {
  display: flex;
  height: 70%;
  width: 100%;
}

.preview-options {
  width: 20%;

  ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.border-list {
  border: 2px solid #F5F5F5;;
  border-radius: 6px;
  padding: 10px;
}

.border-list-selected {
  border: 2px solid #8D76BE;
  border-radius: 6px;
  padding: 10px;
}

.preview-box {
  height: 80px;
  width: 80px;
  background-color: #8D76BE;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    position: absolute;
    right: -25%;
    z-index: 0;
  }
}

.svg-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.space-title {
  font-size: 36px;
  font-weight: 300;
  color: #4D4D4D;
}

.location-text {
  color: #999999;
}

.space-top-left {
  width: 20%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.space-top-right {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.review-icons {
  g {
    fill: #F9AD3D;
    }  
}