@import 'variables';

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 80vh;
}

.signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  height: 61px;	
  width: 300px;	
  border: 1px solid $tertiary;	
  background: #FFFFFF;
  border-radius: 30px;

  p {
    color: black;
    height: 15px;
    color: #292929;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.signin-button:hover {
  cursor: pointer;
  background: $secondary;
  border: 1px solid $secondary;
  
  p {
    color: white;
  }
}


