@import 'variables';

:global(div#app) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $globalFont;
    font-size: $globalFontSize;
}

:global(body) {
    margin: 0px;
}

:global(div#app > div){
    height: 100vh;
}

:global(a) {
    text-decoration: none;
    color: inherit;
}

:global(li) {
    list-style: none;
}

:global(.wrapper) {
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 20px;
}
