@import 'variables';
div#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $globalFont;
    font-size: $globalFontSize;
}
div#app > div{
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.wrapper {
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 20px;
}

