.explainersWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.explainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  margin: 10px;
  img {
    max-width: 300px;
    max-height: 300px;
    filter: drop-shadow(2.00px 2.00px 2.00px rgba(34, 34, 34, 0.055));
  }
}

.titleText {
  position: absolute;
  font-weight: 900;
  top: 0%;
  color: #212121;
  font-size: 14px;
  letter-spacing: 2px;
}

.bodyText {
  position: absolute;
  top: 65%;
  max-width: 220px;
  color: #9FA3A7;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.onboardFooter {
  background: red;
  color: white;
  position: absolute;
  bottom: 0px;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  p {
    text-align: center;
    max-width: 100px;
    letter-spacing: 2px;
    font-size: 10px;
  }
}

.centerProgressText {
  margin: 0px 140px;
}

.progressCircleEmpty {
  border: 1px solid #FFC80A;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCircleFilled {
  border: 1px solid #FFC80A;
  background: #FFC80A;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressLine {
  background: #FFC80A;
  width: 200px;
  height: 2px;
}

.card {
  width: 85%;
  height: 85%;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyWrapper {
  background: #FAFAFA;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%; 
  height: 100%;
  border-right: 2px solid #F5F5F5;
}

.rightSection {
  width: 55%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.questionTitle {
  color: #292929;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 28px;
  width: 250px
}

.inputBox {
  height: 50px;
  width: 350px;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.firstField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 60%; 
}

.inputField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 80%;
}

.lastField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 90%;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 20px;
  color: #292929;
  p {
    text-align: center;
  }
  input[type=text] {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    text-justify: distribute;
  }
  input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #FFC80A;
    text-align: center;
  }
}