.explainersWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.explainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  margin: 10px;
  img {
    max-width: 300px;
    max-height: 300px;
    filter: drop-shadow(2.00px 2.00px 2.00px rgba(34, 34, 34, 0.055));
  }
}

.titleText {
  position: absolute;
  font-weight: 900;
  top: 0%;
  color: #212121;
  font-size: 14px;
  letter-spacing: 2px;
}

.bodyText {
  position: absolute;
  top: 65%;
  max-width: 220px;
  color: #9FA3A7;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.onboardFooter {
  background: red;
  color: white;
  position: absolute;
  bottom: 0px;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  p {
    text-align: center;
    max-width: 100px;
    letter-spacing: 2px;
    font-size: 10px;
  }
}

.centerProgressText {
  margin: 0px 140px;
}

.progressCircleEmpty {
  border: 1px solid #FFC80A;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCircleFilled {
  border: 1px solid #FFC80A;
  background: #FFC80A;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressLine {
  background: #FFC80A;
  width: 200px;
  height: 2px;
}

.card {
  width: 85%;
  height: 85%;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyWrapper {
  background: #FAFAFA;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.leftSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%; 
  height: 100%;
  border-right: 2px solid #F5F5F5;
}

.rightSection {
  width: 55%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputBox {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 50%;;
}

.firstField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 65%; 
}

.inputField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 80%;
}

.lastField {
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 85%;
}

input[type=text] {
  font-family: Roboto;
  font-size: 23px;
  text-align: center;
  padding: 5px 0px;
}

input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid #FFC80A;
  text-align: center;
}

.topWrapper {
  display: flex;
  height: 20%;
  width: 80%;
  color: #292929;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 28px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;	
  letter-spacing: 2px;
}

.middleWrapper {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.middleWrapperPhotos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputP {
  font-size: 20px;
  color: #292929;
  text-align: center;
  margin: 8px 0px;
  width: 80%;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 20%;
  justify-content: space-between;
}

.buttonWrapperCenter {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.selectionWrapper {
  min-height: 80%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.boxBorder {
  border-top: 2px solid #F5F5F5;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  overflow: scroll;
}

.addPhotoOption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  
  font-size: 14px;
  color: #999999;
  
  img {
    padding-right: 10px;
  }
}

.addPhotoOption:hover {
  cursor: pointer; 
  color: #bababa;
}

.photoWrapper {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 10px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.photoPreview {
  border-radius: 6px;
  background-color: #E8E9ED;
  min-width: 90%;
  max-height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.congratsWrapper { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  justify-content: space-around;
}

.congratsTitle { 
  font-weight: 500;
  font-size: 36px;
}

.congratsText {
  max-width: 70%;
  text-align: center;
  line-height: 20px;
  color: #9FA3A7;
}