.nav {
	background: red;
}

.ul {
	color: white;	
}

.wrapper {
  display: flex;
  padding: 10px 80px;
}
.logoContainer,
.menuContainer {
  width: 100%;
}
.logoContainer {
  display: flex;
  justify-content: flex-started;
}
.menuContainer,
.menuContainer ul {
  display: flex;
  justify-content: flex-end;
}
.menuContainer{
  li{
    margin: 0 15px;
  }
}
.current{
  font-weight: bold;
  margin: -1.5px;
}

.menuLink:hover {
  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.6);
}