nav {
    .wrapper {
        display: flex;
    }
    .logoContainer,
    .menuContainer {
        width: 100%;
    }
    .logoContainer {
        display: flex;
        justify-content: flex-started;
    }
    .menuContainer,
    .menuContainer ul {
        display: flex;
        justify-content: flex-end;
    }
    .menuContainer{
        li{
            margin: 0 20px;
        }
    }
}
