@import 'variables';

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  border: 1px solid $secondary;	
  background: white;
  border-radius: 30px;
  font-size: 12px;
  transition: all 0.2s;

  p {
    color: black;
    height: 15px;
    color: #292929;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.white:hover {
  cursor: pointer;
  background: $secondary;
  border: 1px solid $secondary;
  
  p {
    color: white;
  }
}

.white-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  border: 1px solid $tertiary;	
  background: #FFFFFF;
  border-radius: 30px;
  font-size: 12px;

  p {
    color: black;
    height: 15px;
    color: #292929;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.white-yellow:hover {
  cursor: pointer;
  background: $tertiary;
  border: 1px solid $tertiary;
  
  p {
    color: white;
  }
}


.yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  border: 1px solid $tertiary;	
  background: $tertiary;
  border-radius: 30px;
  font-size: 12px;
  transition: all 0.2s;

  p {
    color: black;
    height: 15px;
    color: white;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.yellow:hover {
  cursor: pointer;
  background: $secondary;
  border: 1px solid $secondary;
  
  p {
    color: white;
  }
}

.purple {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  border: 1px solid $secondary;	
  background: $secondary;
  border-radius: 30px;
  font-size: 12px;
  transition: all 0.2s;

  p {
    color: black;
    height: 15px;
    color: white;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.purple:hover {
  cursor: pointer;
  background: $tertiary;
  border: 1px solid $tertiary;
  
  p {
    color: white;
  }
}

.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;	
  border: 1px solid grey;	
  background: grey;
  border-radius: 30px;
  font-size: 12px;

  p {
    cursor: default;
    color: black;
    height: 15px;
    color: white;	
    letter-spacing: 1px;
    font-weight: bold;
  }
}
