.blackShadow:hover {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.6));
  filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.6));
}

.redShadow:hover {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 1px rgba(255, 0, 0, 0.6));
}